<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/admin/admin.login.css" />
  <link rel="icon" href="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
  <title>Administration panel</title>
</head>
<body>
  <div class="registration-div">
    <div class="container">
      <h3>Welcome admin</h3>
    </div>
    <form action="/admin/dashboard" method="post" enctype="multipart/form-data" id="form">
      <div class="container">
        <input type="text" name="email" placeholder="Enter your Email" />
      </div>
      <div class="container">
        <input type="password" name="password" placeholder="Enter Your Password" />
      </div>
      <div class="container-center">
        <input type="submit" value="submit" id="submitBtn">
      </div>
    </form>
  </div>
  </div>
<script src="/javascript/admin/admin.adminlogin.js"></script>
</body>

</html>