<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
  <title>Bill Preview</title>
  <link rel="stylesheet" href="/css/user/bill_preview.css">
</head>

<body>
  <main id="main_div">
    <iframe id="bill_iframe" src="" frameborder="0" width="100%" height="600px">Here I want to view the PDF</iframe>
  </main>
  <script src="/javascript/user/user.billPreview.js"></script>
</body>

</html>