<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
  <title>Change Password</title>
  <link rel="stylesheet" href="/css/user/createPasswordPage.css">
</head>

<body>
  <div class="registration-div">
    <form action="/auth/login" method="post" enctype="multipart/form-data" id="form">
      <div class="container">
        <!-- <label for="password">Enter Your Password:</label> -->
        <input type="password" name="password" placeholder="password" />
      </div>
      <div class="container">
        <!-- <label for="confirmPassword">Renter Your Password:</label> -->
        <input type="password" name="confirmPassword" placeholder="ConfirmPassword" />
      </div>
      <div class="container-center">
        <input type="submit" value="submit" id="submitBtn">
      </div>
    </form>
  </div>

  <script src="/javascript/user/user.createPasswordPage.js">
    
  </script>
</body>

</html>