<%- include('partials/header') %>

<head>
  <link rel="icon" href="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="/css/admin/privacyPolicy.css">
</head>

<div class="container">
  <center><h1 class="about-title">Privacy Policy</h1></center>
  <div class="arrivingdata" id="arrivingdata"></div>
</div>
<script src="/javascript/user/user.privacyPolicy.js">
  
</script>
<%- include('partials/footer') %>