<%- include('partials/header') %>

<head>
  <link rel="icon" href="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
  <title>Terms & Conditions</title>
  <link rel="stylesheet" href="/css/admin/termsAndConditions.css">
</head>
<div class="container">
  <center><h1>Terms & Conditions</h1></center>
  <p>By using our website, you agree to abide by our terms and conditions outlined below.</p>
<div class="arrivingdata" id="arrivingdata">
</div>
</div>

<script src="/javascript/user/user.T&C.js">
  
</script>
<%- include('partials/footer') %>