<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
    <title>Thank You Page</title>
    <link rel="stylesheet" href="/css/user/thankyou.css">
  </head>
  <body onload="">
    <div class="container">
      <div class="thank-you-message">Thank You for Your Order!</div>
     
      <p>
        Your order will be processed shortly. You will receive a confirmation
        email with tracking information.
      </p>
      <button id="checkoutbtn" onclick="window.location.href='/'">Explore More Products</button>
    </div>
    <div id="fireworks"></div>
    <script src="/javascript/user/user.thankyou.js">
      
    </script>
  </body>
</html>