<link rel="stylesheet" href="/css/partials/footer.css">
<footer class="footer">
  <main class="footer_content">
  <div class="footer_container">
    <div class="footer_link_container">
      <img src="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png" alt="Evara logo" width="100" height="50">
      <p><strong>Contact</strong></p>
      <p><strong>Address:</strong> 407 Silver Radience 2, Science City Road, Ahmedabad</p>
      <p><strong>Phone:</strong> +91 12345 67890</p>
      <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
    </div>
    <div class="footer_link_container">
      <ul>
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/privacyPolicy">Privacy Policy</a></li>
        <li><a href="/termsAndConditions">Terms & Conditions</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer_link_container">
      <ul>
        <li><a href="/auth/login">Sign In</a></li>
        <li><a href="/cart">View Cart</a></li>
        <li><a href="/wishlist">My Wishlist</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
  </div>
  <div class="bottom-text">
    <p>© 2025 september. All rights reserved</p>
    <p>Designed by Team Evara</p>
  </div>
</main>
</footer>
</body>

</html>